.u-section-1 .u-sheet-1 {
  min-height: 1303px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 43px auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 0 0 63px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 32px auto 0 53px;
}

.u-section-1 .u-image-1 {
  width: 1013px;
  height: 481px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 30px 0 0 63px;
}

.u-section-1 .u-text-5 {
  margin: 10px 284px 32px 96px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 446px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 180px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 342px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 257px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 162px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1363px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 52px 812px 0 30px;
}

.u-section-2 .u-image-1 {
  width: 898px;
  height: 480px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 30px 945px 0 52px;
}

.u-section-2 .u-text-3 {
  margin: 0 63px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: 30px 889px 0 52px;
}

.u-section-2 .u-text-5 {
  margin: 13px 64px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 642px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 797px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 741px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 422px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 385px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 577px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 521px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-right: 242px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 289px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-right: 397px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 42px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 182px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 197px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 141px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1618px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 105px 905px 0 37px;
}

.u-section-3 .u-text-2 {
  margin: 31px 79px 0 48px;
}

.u-section-3 .u-image-1 {
  width: 996px;
  height: 481px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 69px 890px 0 51px;
}

.u-section-3 .u-text-4 {
  margin: 11px 64px 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1591px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 741px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 454px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -574px;
    margin-right: 741px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 521px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 348px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -510px;
    margin-right: 521px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-right: 341px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 261px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: -561px;
    margin-right: 341px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1301px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 141px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 164px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 141px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin: 10px -10px 0 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 15px;
} .u-section-5 {
  min-height: 432px;
}

.u-section-5 .u-image-1 {
  width: 78px;
  height: 78px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + -12px);
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -78px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -23px calc(((100% - 1140px) / 2) + 135px) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  margin: -9px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 29px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 196px);
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 13px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-btn-3 {
  padding: 0;
}

.u-section-5 .u-social-icons-1 {
  height: 72px;
  min-height: 16px;
  width: 236px;
  min-width: 68px;
  margin: -23px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -32px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-btn-4 {
  padding: 0;
}

.u-section-5 .u-text-9 {
  margin: 62px auto 18px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -12px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-5 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 35px);
    margin-left: calc(((100% - 940px) / 2) + 804px);
  }

  .u-section-5 .u-text-4 {
    margin-right: 56px;
    margin-left: calc(((100% - 940px) / 2) + 745px);
  }

  .u-section-5 .u-text-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-1 {
    border-style: solid;
  }

  .u-section-5 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2) + 196px);
  }

  .u-section-5 .u-btn-2 {
    border-style: solid;
  }

  .u-section-5 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-3 {
    border-style: solid;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: -22px;
  }

  .u-section-5 .u-text-8 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-4 {
    border-style: solid;
  }

  .u-section-5 .u-text-9 {
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + -12px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-5 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 619px);
  }

  .u-section-5 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + 571px);
  }

  .u-section-5 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2) + 196px);
  }

  .u-section-5 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-8 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-9 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 439px);
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 428px);
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
    margin-top: -64px;
    margin-left: calc(((100% - 540px) / 2) + 147px);
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
    margin-top: 39px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: -35px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-9 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 436px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 65px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -61px;
    margin-left: calc(((100% - 340px) / 2) + 75px);
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2) + 75px);
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 239px);
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 237px);
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 68px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -26px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 5px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-social-icons-1 {
    height: 36px;
    width: 128px;
    margin-top: -124px;
    margin-right: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 89px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin: 82px calc(((100% - 340px) / 2) + -31px) 37px calc(((100% - 340px) / 2) + -11px);
  }
}