.u-section-1 .u-sheet-1 {
  min-height: 2185px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 226px auto 0 51px;
}

.u-section-1 .u-text-2 {
  margin: 0 64px 0 99px;
}

.u-section-1 .u-text-3 {
  margin: 12px 637px 0 155px;
}

.u-section-1 .u-text-4 {
  margin: 12px 88px 0 196px;
}

.u-section-1 .u-text-5 {
  margin: 43px 512px 0 155px;
}

.u-section-1 .u-text-6 {
  margin: 13px 88px 0 196px;
}

.u-section-1 .u-text-7 {
  margin: 43px 512px 0 155px;
}

.u-section-1 .u-text-8 {
  margin: 13px 88px 0 196px;
}

.u-section-1 .u-text-9 {
  margin: 43px 513px 0 155px;
}

.u-section-1 .u-text-10 {
  margin: 13px 88px 0 196px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 43px auto 0 214px;
}

.u-section-1 .u-text-12 {
  margin: 8px 99px 0 185px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 28px auto 0 99px;
}

.u-section-1 .u-text-14 {
  width: 856px;
  margin: 8px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 537px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 412px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 412px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 413px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2271px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 372px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 247px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 247px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 248px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2058px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 192px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 67px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 67px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 68px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-14 {
    width: 540px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2703px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 2918px;
}

.u-section-2 .u-image-1 {
  width: 1088px;
  height: 1088px;
  margin: 1118px auto 0 calc(((100% - 1140px) / 2) + -430px);
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -266px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  min-width: 68px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  margin: 62px auto 47px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 489px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -430px);
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
  }

  .u-section-2 .u-btn-2 {
    border-style: solid;
  }

  .u-section-2 .u-btn-3 {
    border-style: solid;
  }

  .u-section-2 .u-social-icons-1 {
    width: NaNpx;
  }

  .u-section-2 .u-btn-4 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 460px;
  }

  .u-section-2 .u-image-1 {
    width: 78px;
    height: 78px;
    margin-top: 34px;
    margin-left: calc(((100% - 720px) / 2) + -14px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -84px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: -12px auto 0 calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: -70px calc(((100% - 720px) / 2) + 115px) 0 calc(((100% - 720px) / 2) + 452px);
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: -8px calc(((100% - 720px) / 2)) 0 calc(((100% - 720px) / 2) + 452px);
  }

  .u-section-2 .u-text-5 {
    margin: 48px auto 0 calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin: -38px auto 0 calc(((100% - 720px) / 2) + 196px);
  }

  .u-section-2 .u-text-7 {
    margin: 13px auto 0 calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-social-icons-1 {
    height: 72px;
    min-height: 16px;
    width: 236px;
    margin: -16px calc(((100% - 720px) / 2) + 16px) 0 auto;
  }

  .u-section-2 .u-text-8 {
    margin: -38px auto 0 calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + 25px);
    margin-left: calc(((100% - 540px) / 2) + 362px);
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 272px);
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 147px);
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 436px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 75px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 75px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 187px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 72px);
  }

  .u-section-2 .u-text-5 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2) + 93px);
  }

  .u-section-2 .u-text-7 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-8 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  min-height: 432px;
  background-image: none;
}

.u-section-3 .u-image-1 {
  width: 78px;
  height: 78px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + -12px);
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -78px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -23px calc(((100% - 1140px) / 2) + 135px) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: -9px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 196px);
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 29px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 13px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-social-icons-1 {
  height: 72px;
  min-height: 16px;
  width: 236px;
  min-width: 68px;
  margin: -23px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -32px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-btn-4 {
  padding: 0;
}

.u-section-3 .u-text-9 {
  margin: 62px auto 18px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 489px;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -12px);
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-right: calc(((100% - 940px) / 2) + 169px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 35px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -26px;
    margin-left: calc(((100% - 940px) / 2) + 138px);
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -38px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-2 {
    border-style: solid;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-3 {
    border-style: solid;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 32px;
    margin-right: calc(((100% - 940px) / 2) + 132px);
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -104px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-4 {
    border-style: solid;
  }

  .u-section-3 .u-text-9 {
    margin-top: 163px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 465px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 49px;
    margin-right: 706px;
    margin-left: 36px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 85px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-3 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-3 .u-text-5 {
    margin-top: -48px;
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-3 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 85px);
  }

  .u-section-3 .u-text-8 {
    margin-top: -72px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 95px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 436px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 36px;
    margin-right: 462px;
    margin-left: calc(((100% - 540px) / 2) + -9px);
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: -69px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: -8px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: calc(((100% - 540px) / 2) + 24px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-top: -3px;
    margin-right: calc(((100% - 540px) / 2) + 19px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: calc(((100% - 540px) / 2) + 180px);
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-top: -25px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    margin-top: -86px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-9 {
    margin-top: 129px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-top: 65px;
    margin-right: 262px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -61px;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 239px);
  }

  .u-section-3 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 237px);
  }

  .u-section-3 .u-text-5 {
    margin-top: -48px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 68px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-7 {
    margin-top: 5px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-social-icons-1 {
    height: 36px;
    width: 128px;
    margin-top: -124px;
    margin-right: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-3 .u-text-8 {
    margin-top: 89px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-9 {
    margin: 82px calc(((100% - 340px) / 2) + -31px) 37px calc(((100% - 340px) / 2) + -11px);
  }
} .u-section-4 {
  min-height: 432px;
  background-image: none;
}

.u-section-4 .u-image-1 {
  width: 78px;
  height: 78px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + -12px);
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -78px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -23px calc(((100% - 1140px) / 2) + 135px) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  margin: -9px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 196px);
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 29px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 13px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-social-icons-1 {
  height: 72px;
  min-height: 16px;
  width: 236px;
  min-width: 68px;
  margin: -23px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -32px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-btn-4 {
  padding: 0;
}

.u-section-4 .u-text-9 {
  margin: 62px auto 18px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 489px;
  }

  .u-section-4 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -12px);
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-right: calc(((100% - 940px) / 2) + 169px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 35px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -26px;
    margin-left: calc(((100% - 940px) / 2) + 138px);
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -38px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-btn-2 {
    border-style: solid;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-btn-3 {
    border-style: solid;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 32px;
    margin-right: calc(((100% - 940px) / 2) + 132px);
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: -104px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-btn-4 {
    border-style: solid;
  }

  .u-section-4 .u-text-9 {
    margin-top: 163px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 465px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 49px;
    margin-right: 706px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 85px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-4 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-4 .u-text-5 {
    margin-top: -48px;
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 85px);
  }

  .u-section-4 .u-text-8 {
    margin-top: -72px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 95px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 436px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 36px;
    margin-right: 462px;
    margin-left: calc(((100% - 540px) / 2) + -9px);
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-top: -69px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: -8px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: calc(((100% - 540px) / 2) + 24px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-top: -3px;
    margin-right: calc(((100% - 540px) / 2) + 19px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: calc(((100% - 540px) / 2) + 180px);
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-top: -25px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
    margin-top: -86px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-9 {
    margin-top: 129px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    margin-top: 65px;
    margin-right: 262px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-4 .u-text-1 {
    margin-top: -61px;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-4 .u-text-3 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 239px);
  }

  .u-section-4 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 237px);
  }

  .u-section-4 .u-text-5 {
    margin-top: -48px;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 68px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-7 {
    margin-top: 5px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-social-icons-1 {
    height: 36px;
    width: 128px;
    margin-top: -124px;
    margin-right: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-4 .u-text-8 {
    margin-top: 89px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-9 {
    margin: 82px calc(((100% - 340px) / 2) + -31px) 37px calc(((100% - 340px) / 2) + -11px);
  }
} .u-section-5 {
  min-height: 432px;
  background-image: none;
}

.u-section-5 .u-image-1 {
  width: 78px;
  height: 78px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + -12px);
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -78px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -23px calc(((100% - 1140px) / 2) + 135px) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  margin: -9px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 196px);
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 29px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 13px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-btn-3 {
  padding: 0;
}

.u-section-5 .u-social-icons-1 {
  height: 72px;
  min-height: 16px;
  width: 236px;
  min-width: 68px;
  margin: -23px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -32px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-btn-4 {
  padding: 0;
}

.u-section-5 .u-text-9 {
  margin: 62px auto 18px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 489px;
  }

  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -12px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-right: calc(((100% - 940px) / 2) + 169px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 35px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -26px;
    margin-left: calc(((100% - 940px) / 2) + 138px);
  }

  .u-section-5 .u-btn-1 {
    border-style: solid;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -38px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-2 {
    border-style: solid;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-3 {
    border-style: solid;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 32px;
    margin-right: calc(((100% - 940px) / 2) + 132px);
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: -104px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-4 {
    border-style: solid;
  }

  .u-section-5 .u-text-9 {
    margin-top: 163px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 465px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 49px;
    margin-right: 706px;
    margin-left: 36px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 85px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-5 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-5 .u-text-5 {
    margin-top: -48px;
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-5 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 85px);
  }

  .u-section-5 .u-text-8 {
    margin-top: -72px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 95px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 436px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 36px;
    margin-right: 462px;
    margin-left: calc(((100% - 540px) / 2) + -9px);
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
    margin-top: -69px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: -8px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: calc(((100% - 540px) / 2) + 24px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
    margin-top: -3px;
    margin-right: calc(((100% - 540px) / 2) + 19px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: calc(((100% - 540px) / 2) + 180px);
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
    margin-top: -25px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-5 .u-text-8 {
    font-size: 1rem;
    margin-top: -86px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-9 {
    margin-top: 129px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-top: 65px;
    margin-right: 262px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-5 .u-text-1 {
    margin-top: -61px;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 239px);
  }

  .u-section-5 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 237px);
  }

  .u-section-5 .u-text-5 {
    margin-top: -48px;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 68px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-7 {
    margin-top: 5px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-social-icons-1 {
    height: 36px;
    width: 128px;
    margin-top: -124px;
    margin-right: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-5 .u-text-8 {
    margin-top: 89px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-9 {
    margin: 82px calc(((100% - 340px) / 2) + -31px) 37px calc(((100% - 340px) / 2) + -11px);
  }
} .u-section-6 {
  min-height: 432px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  width: 78px;
  height: 78px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + -12px);
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -78px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -23px calc(((100% - 1140px) / 2) + 135px) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-6 .u-text-4 {
  font-size: 2.25rem;
  margin: -9px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 196px);
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 29px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 13px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-btn-3 {
  padding: 0;
}

.u-section-6 .u-social-icons-1 {
  height: 72px;
  min-height: 16px;
  width: 236px;
  min-width: 68px;
  margin: -23px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -32px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-btn-4 {
  padding: 0;
}

.u-section-6 .u-text-9 {
  margin: 62px auto 18px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 489px;
  }

  .u-section-6 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -12px);
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-right: calc(((100% - 940px) / 2) + 169px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 35px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: -26px;
    margin-left: calc(((100% - 940px) / 2) + 138px);
  }

  .u-section-6 .u-btn-1 {
    border-style: solid;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -38px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-btn-2 {
    border-style: solid;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-btn-3 {
    border-style: solid;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 32px;
    margin-right: calc(((100% - 940px) / 2) + 132px);
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: -104px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-btn-4 {
    border-style: solid;
  }

  .u-section-6 .u-text-9 {
    margin-top: 163px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 465px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 49px;
    margin-right: 706px;
    margin-left: 36px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 85px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-6 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-6 .u-text-5 {
    margin-top: -48px;
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-6 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 85px);
  }

  .u-section-6 .u-text-8 {
    margin-top: -72px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 95px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 436px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 36px;
    margin-right: 462px;
    margin-left: calc(((100% - 540px) / 2) + -9px);
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
    margin-top: -69px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: -8px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: calc(((100% - 540px) / 2) + 24px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    margin-top: -3px;
    margin-right: calc(((100% - 540px) / 2) + 19px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: calc(((100% - 540px) / 2) + 180px);
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
    margin-top: -25px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
    margin-top: -86px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-9 {
    margin-top: 129px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    margin-top: 65px;
    margin-right: 262px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-6 .u-text-1 {
    margin-top: -61px;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-6 .u-text-3 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 239px);
  }

  .u-section-6 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 237px);
  }

  .u-section-6 .u-text-5 {
    margin-top: -48px;
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 68px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-7 {
    margin-top: 5px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-social-icons-1 {
    height: 36px;
    width: 128px;
    margin-top: -124px;
    margin-right: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-6 .u-text-8 {
    margin-top: 89px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-9 {
    margin: 82px calc(((100% - 340px) / 2) + -31px) 37px calc(((100% - 340px) / 2) + -11px);
  }
} .u-section-7 {
  min-height: 432px;
  background-image: none;
}

.u-section-7 .u-image-1 {
  width: 78px;
  height: 78px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + -12px);
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -78px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -23px calc(((100% - 1140px) / 2) + 135px) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-7 .u-text-4 {
  font-size: 2.25rem;
  margin: -9px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 904px);
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 196px);
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 29px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-btn-2 {
  padding: 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 13px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-btn-3 {
  padding: 0;
}

.u-section-7 .u-social-icons-1 {
  height: 72px;
  min-height: 16px;
  width: 236px;
  min-width: 68px;
  margin: -23px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -32px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-btn-4 {
  padding: 0;
}

.u-section-7 .u-text-9 {
  margin: 62px auto 18px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 489px;
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -12px);
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-right: calc(((100% - 940px) / 2) + 169px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 35px);
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: -26px;
    margin-left: calc(((100% - 940px) / 2) + 138px);
  }

  .u-section-7 .u-btn-1 {
    border-style: solid;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: -38px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-btn-2 {
    border-style: solid;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-btn-3 {
    border-style: solid;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 32px;
    margin-right: calc(((100% - 940px) / 2) + 132px);
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: -104px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-btn-4 {
    border-style: solid;
  }

  .u-section-7 .u-text-9 {
    margin-top: 163px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 465px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 49px;
    margin-right: 706px;
    margin-left: 36px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 85px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-7 .u-text-4 {
    margin-top: -10px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-7 .u-text-5 {
    margin-top: -48px;
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-7 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 85px);
  }

  .u-section-7 .u-text-8 {
    margin-top: -72px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 95px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 436px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 36px;
    margin-right: 462px;
    margin-left: calc(((100% - 540px) / 2) + -9px);
  }

  .u-section-7 .u-text-1 {
    font-size: 1rem;
    margin-top: -69px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    margin-top: -8px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: calc(((100% - 540px) / 2) + 24px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
    margin-top: -3px;
    margin-right: calc(((100% - 540px) / 2) + 19px);
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    margin-top: 40px;
    margin-left: calc(((100% - 540px) / 2) + 180px);
  }

  .u-section-7 .u-text-6 {
    font-size: 1rem;
    margin-top: -25px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-7 .u-text-8 {
    font-size: 1rem;
    margin-top: -86px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-9 {
    margin-top: 129px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    margin-top: 65px;
    margin-right: 262px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-7 .u-text-1 {
    margin-top: -61px;
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-7 .u-text-3 {
    margin-top: -26px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 239px);
  }

  .u-section-7 .u-text-4 {
    margin-top: -9px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 237px);
  }

  .u-section-7 .u-text-5 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-7 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-7 {
    margin-top: 5px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-social-icons-1 {
    height: 36px;
    width: 128px;
    margin-top: 8px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-8 {
    margin-top: -43px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-9 {
    margin: 82px calc(((100% - 340px) / 2) + -31px) 37px calc(((100% - 340px) / 2) + -11px);
  }
}